PORT=3501
MONGO_URI=mongodb+srv://SeanRise_ExTra:<ATLAS_PASSWORD>@extra.teogfdd.mongodb.net/extra?retryWrites=true&w=majority&appName=ExTra
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=<LONG_RANDOM_SECRET>
JWT_EXPIRES_IN=7d
